#wrapper{
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #eee;
}
.primary{
    padding: 50px 0 0px 0;
    padding-right: 5%;
    padding-left: 5%;

}
.secondary{
    padding: 0px 0 50px 0;
    padding-right: 5%;
    padding-left: 5%;

}
.card-text{
    font-size: 16px;
}
.progress-bar{
    background-color: #010014!important;
}
p{
    font-family: Helvetica;
    font-size: 18px;
    color: black;
}
.card.h-100:hover {
    border: 1px solid white;
    width: 105%;
}
span{
    color: black;
}
hr{
    width: 97.5%;
    border: 1px solid #010014;
}
h3{
    color: black;
}
h5{
    color: black;
}