<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="col">
        <div class="row">
            <img class="img-profile mr-auto ml-auto" src="../../../assets/img/J.A.V.C.jpeg" alt="Jose Alberto">
        </div>
        <div class="row">
            <a class="navbar-brand mr-auto ml-auto title-profile" href="#">José Alberto V.C.</a>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Curriculum Vitae</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="proyectos-programas" routerLinkActive="active" >Proyectos</a>
        </li>
      </ul>
    </div>
  </nav>